@import url('https://fonts.googleapis.com/css2?family=Diphylleia&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Diphylleia', serif;
}

h1 {
  text-align: center;
  padding: 30px 0;
  background: linear-gradient(0deg, chocolate, brown);
}

h3 {
  margin-bottom: 25px;
}

#score-section,
#recent-scores {
  display: flex;
  justify-content: space-evenly;
}

#left-container,
#right-container,
form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#score-section {
  flex-direction: column;
  gap: 50px;
  align-items: center;
  background: linear-gradient(180deg, #930d29, #ffa702);
  padding: 30px 10px;
  box-shadow: 0 0 10px 5px #030303;
}

.scores {
  display: flex;
  padding: 10px 10px;
  gap: 10px;
  font-weight: bolder;
}

.scores:nth-child(even) {
  background-color: #af0734;
}

#left-container {
  width: 300px;
}

#scores-container {
  border: 2px solid black;
  border-radius: 10px;
}

#recent-scores {
  justify-content: space-between;
  margin-bottom: 20px;
}

#right-container {
  justify-content: flex-start;
  align-items: flex-start;
}

form {
  gap: 20px;
}

form input {
  padding: 5px 10px;
  font-weight: bolder;
  outline: none;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  border: 2px solid black;
}

#submit-button,
#refresh-button {
  align-self: flex-end;
  padding: 10px 20px;
  border-radius: 10px 0 10px 10px;
  border: 2px solid black;
  font-weight: bolder;
  background: none;
}
