* {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin: 50px 0;
}

h3 {
  margin-bottom: 25px;
}

#score-section,
#recent-scores {
  display: flex;
  justify-content: space-evenly;
}

#left-container,
#right-container,
form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.scores {
  display: flex;
  padding: 10px 10px;
  gap: 10px;
}

.scores:nth-child(even) {
  background-color: beige;
}

#left-container {
  width: 300px;
}

#scores-container {
  border: 1px solid black;
}

#recent-scores {
  justify-content: space-between;
  margin-bottom: 20px;
}

#right-container {
  justify-content: flex-start;
  align-items: flex-start;
}

form {
  gap: 20px;
}

form input {
  padding: 5px 10px;
}

#submit-button,
#refresh-button {
  align-self: flex-end;
  padding: 5px 10px;
}